<!DOCTYPE html>
<html>
  <head>
    <title>ListOfCars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <table>
      <tr>
        <th>Car model</th>
        <th>Car color</th>
        <th>Car year</th>
      </tr>
      <% filteredCarColor.forEach(color => { %>
      <tr>
        <td><%= color.modelName %></td>
        <td><%= color.carColor %></td>
        <td><%= color.yearManufactured %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
